.DS_Store
*.rbc
*.sassc
*.*~
*.swo
*.swm
*.swn
*.iml
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/assets/
/public/system/*
/public/assets/
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
/*.swp/**/.
*.swp
.idea/*
.idea/**/*
/surveys/program_assistant.rb
/surveys/chunks/program_assistant/program_assistant.rb
tags
/app/views/pdf_partials
/app/views/surveyor/show.pdf.haml
